/**
 * mdl.blog.css
 * ryuji.oike@gmail.com
 */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansJP-Regular.otf'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}

html, body {
  color: #757575;
  font-size: 14px;
  font-family: Roboto, 'Noto Sans Japanese', sans-serif;
  position: relative;
}

img {
  border: 0;
}

.mdl-layout { display: block; }
.mdl-layout__header {
  background-color: #FFF;
  box-shadow: none;
  position: relative;
}
.mdl-layout__header:after, .mdl-mini-footer:before {
  background: linear-gradient(to right, #FAD961, #F76B1C);
  content: " ";
  display: block;
  height: 2px;
  position: absolute;
  left: 0;
  width: 100%;
}
.mdl-layout__header:after {
  bottom: 0;
  z-index: -1;
}
.mdl-layout__header-row {
  padding-left: 18px;
}

.logo-define, .shell-head-search {
  color: #757575;
  text-decoration: none;
}

.thirdpen-logo {
  height: 40px;
  margin-right: 12px;
}
.mdl-layout__content { width: 100%;}
.blog-container {
  padding-left: 250px;
  width: 100%;
  box-sizing: border-box;
}
.bgimg {
  background: #F5F5F5 url(../images/bgimg_blog.jpg);
  background-attachment: local;
  background-size: cover;
  will-change: transform;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.blog-content {
  max-width: 900px;
  box-sizing: border-box;
  min-height: calc(100vh - 164px);  /* 100vh - 64px header - 100px footer */
  padding: 3em 0;
  position: relative;
}

.mdl-card__supporting-text {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
}

.mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid #F0F0F0;
}

h1 {
  color: #757575;
  font-size: 45px;
  font-weight: 200;
  margin-top: 0;
}

h3 {
  color: rgb(97, 97, 97);
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin-top: 0;
}

h5 {
  color: rgb(97, 97, 97);
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 36px;
}

a {
  color: #4285f4;  /* Google Blue 500 */
}

.mdl-mini-footer {
  background: #FFF;
  padding: 32px;
  position: relative;
}
.mdl-mini-footer:before {
  top: 0;
}
.mdl-mini-footer--link-list {
  float: left;
  margin-left: 20px;
}

.mdl-mini-footer--link-list li {
  line-height: 1;
  padding-top: 15px;
}

figure {
  float: right;
  margin-bottom: 3em;
  margin-top: -56px;
  max-height: 200px;
  text-align: center;
  width: 300px;
}

figure img {
  max-height: 100%;
  max-width: 100%;
}

figure.align-paragraph,
figure ~ figure {
  clear: right;
  margin-top: 0;
}

figure ~ p,
figure ~ ul {
  margin-right: 320px;
}

/**
 * Responsive layout
 */

@media screen and (max-width: 850px) {
  .mdl-layout__header {
    display: block;
  }

  .content {
    padding: 0;
  }

  .content.with-drawer {
    padding-left: 0;
  }

  .content .mdl-navigation {
    display: none;
  }

  .section-center {
    margin-top: 0;
  }

  .section-center .mdl-card {
    margin: 0;
    width: 100%;
  }

  .mdl-mini-footer--link-list {
    margin-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  figure {
    width: 200px;
  }
}

@media screen and (max-width: 850px) {
  figure {
    float: none;
    margin-bottom: 16px;
    margin-top: 0;
    width: auto;
  }

  figure ~ p,
  figure ~ ul {
    margin-right: 0;
  }
}
