/*
 * thirdpen spa.contact.css
 * ryuji.oike@gmail.com
*/

#contact-container {
  padding: 42px 0;
}

#contact-container .article-image {
  width: 100%;
  height: auto;
}
#contact-container .mdl-textfield {
  width: 100%;
}

#contact-container .mdl-card__supporting-text {
  margin: 16px auto;
  padding: 0;
}

#contact-container .mdl-button {
  background-color: #d8d8d8;
  ;
}

.contact-content {
  max-width: 850px;
  width: 100%;
  flex-shrink: 0;
}
