/*
 * thirdpen spa.css
 * ryuji.oike@gmail.com
 * h1はセクショニングルートに一つ
 * セクションの見出しはh2で開始する
*/


/*
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansJP-Regular.otf'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}
*/

/*--reset section--------------------*/
* {
  box-sizing: border-box;
}

ol,ul,dl { list-style-position : inside;}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:link, a:visited { color : inherit; }
a:hover { text-decoration: underline; }
html, body {
  background: #F5F5F5;
}
html, body, th, td, p, h1, h2, h3, h4, h5, h6 {
  color: #757575;
  font-size: 14px;
  font-family: Roboto, 'Noto Sans Japanese', sans-serif;
  /*font-family: Roboto, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, Helvetica, Arial, sans-serif;*/
}

/*---mdl modify section-----------------*/

.mdl-layout__header, .mdl-mini-footer {
  background: #FFF;
  position: relative;
}
.mdl-layout__header {
  box-shadow: none;
  padding: 0;
}
.mdl-mini-footer {padding: 16px;}
.mdl-layout__header:after, .mdl-mini-footer:before {
  background: linear-gradient(to right, #FAD961, #F76B1C);
  content: " ";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.mdl-layout__header:after {
  bottom: 0;
  z-index: -1;
}
.mdl-mini-footer:before {top: 0;}
.mdl-layout__header-row {
  padding-left: 18px;
}

.mdl-layout__content {
  width: 100%;
}
.nav-large {
  position: absolute;
  background: none;
  box-shadow: none;
  border: none;
  height: auto;
  top: 420px;
  left: 20px;
}
.nav-large a {
  display: block;
  height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
  color: #616161;
}

h1 {font-size: 3rem;}
h2 {font-size: 1.7rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.2rem;}
h5 {font-size: 1rem;}
h6 {font-size: 1rem;}

header h1 {
  line-height: 0;
}

nav h2, footer h2 {
  display: none;
}

#spa {
  min-height: calc(100vh - 164px);  /* 100vh - 64px header - 100px footer */
  padding-left: 200px;
}

.thirdpen-logo {
  height: 48px;
  margin-right: 15px;
}
.thirdpen-banner {
  background: #F5F5F5 url(/images/banner@1.5x.png);
  background-attachment: local;
  /*background-position: center -50px;*/
  background-size: cover;
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.thirdpen-logo {
  vertical-align: middle;
  height: 40px;
  margin-right: 12px;
}

.logo-define {
  font-size:16px;
  color: #757575;
  vertical-align: middle;
}

.shell-head-search {color: #757575;}
/*------- github css-----------------*/
blockquote {
  margin: 15px 0;
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
blockquote:before, blockquote:after {content: normal;}
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 14px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }

/* -----Responsive layout-----------*/
@media screen and (max-width: 850px) {
  .mdl-layout__header {
    display: block;
  }

  .mdl-layout__content {
    padding: 0;
  }

  .nav-large {
    display: none;
  }

  #spa {
    margin: 0;
    width: 100%;
  }

  .mdl-mini-footer--link-list {
    margin-left: 0;
  }
}

